* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.9;
  padding: 30px;
  background-color: white;
}

header {
  background-color: rgb(39, 15, 94);
  padding: 20px 0;
  text-align: center;
}

header h1 {
  color: white;
}

header h2 {
  color: white;
}

header img {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}

main {
  height: calc(100% - 230px);
}

section {
  margin: 40px 0;
  text-align: center;
}

section h1 {
  background-color: rgb(18, 162, 187);
  color: white;
  padding: 10px 0;
}

section h2 {
  color: rgb(18, 162, 187);
}

section p {
  max-width: 800px;
  margin: 0 auto 30px;
  font-size: 1.1rem;
}

section ul {
  list-style: none;
  padding-left: 0;
}

section img {
  width: 500%;
  max-width: 500px;
  height: auto;
  border-radius: 10%;
  margin: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: rgb(39, 15, 94);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  font-size: 1rem;
}
